.about-container {
  background-color: #0f2046;
  display: flex;
  justify-content: center;

  .column-b {
    @media screen and (max-width: 1000px) {
      margin: 460px 10px 0 10px !important;
      &.global {
        margin: 0px 10px 0 10px !important;
      }
      &.uk{
        margin: 0px 10px 0 10px !important;
      }
    }
    max-width: 800px;
    margin-left: 430px;
    &.uk {
      margin-left: 0px;
    }
    padding-right: 10% !important;
  }

  .about-section {
    color: white;
    

    .about-title {
      padding-top: 40px;
      padding-bottom: 20px;
      color: white;
      font-size: 24px;
    }
    a {
      color: #fa451b !important;
    }

    p {
      font-size: 20px;

      .red {
        color: #fa451b !important;
        display: inline;
      }
    }
  }
  &.global {
    background-color: black;

    .about-section {
      a {
        color: #fdc437 !important;
      }

      p {
        font-size: 20px;

        .red {
          color: #fdc437 !important;
          display: inline;
        }
      }
    }
  }
}

.global-title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: white !important;
  font-size: 30px !important;
}
.about-container-global {
  color: white;
  
  .about-section {

    &.boxed {
      border: 2px solid white !important;
      border-radius: 15px;
    }

    a {
      color: #fdc437 !important;
    }

    p {
      font-size: 16px;

      .red {
        color: #fdc437 !important;
        display: inline;
      }
    }
  }
}
