@media screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .mobile-header {
    display: none;
  }
}

.ui.text.menu {
  margin-bottom: 0 !important;
}

.header {
  padding-bottom: 1rem;

  .menu {
    .item:first-child {
      float: left;
      padding-left: 0px !important;
      margin-left: 0px !important;
    }
    .item:nth-child(2),
    .item:nth-child(3) {
      top: 50%;
      float: right;
    }
  }

  img {
    max-width: 800px;
    width: 60vw;
    &:first-of-type {
      margin-right: 10px;
    }
  }
  .ui.menu > .container {
    display: block;
  }
}

.button.ui.secondary.donate-button-header {
  color: #0f2046;
  border: 1px solid #0f2046;
  width: 100px;
  border-radius: 60px;

  transform: translate(-50%, -50%);
  &:focus {
    color: #0f2046;
    background-color: transparent;
  }
  &:hover {
    color: white;
    background-color: #0f2046;
    text-decoration: none;
  }
}

.button.ui.secondary.mobile-button-header {
  color: #0f2046;
  border: 1px solid #0f2046;
  border-radius: 60px;
  margin-right: 20px !important;

  &:focus {
    color: #0f2046;
    background-color: transparent;
  }
  &:hover {
    color: white;
    background-color: #0f2046;
    text-decoration: none;
  }
}

.mobile-header {
  padding-top: 1rem;

  .mobile-container.ui.container {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    border: none !important;
    background-color: transparent !important;

    .hamburger-icon {
      font-size: 20px;
      color: #0f2046;
      margin: 0px 0px !important;
    }
  }

  img {
    width: 500px;
    max-width: 100vw;
    padding: 2rem;
  }
}
