@media screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .mobile-header {
    display: none;
  }
}

.ui.text.menu {
  margin-bottom: 0 !important;
}

.header {
  
  &.global {
    background-color: black;
    padding-top: 2rem !important;

    .global-challenge-logo {
      max-width: 500px;
    }
    padding-top: 2rem;
  }

  &.uk {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  a {
    cursor: pointer;
  }

  .menu {
    .item:first-child {
      float: left;
      padding-left: 0px !important;
      margin-left: 0px !important;
    }
    .item:nth-child(2),
    .item:nth-child(3) {
      top: 25%;
      float: right;
    }
  }

  img {
    max-width: 800px;
    width: 60vw;
    &:first-of-type {
      margin-right: 10px;
    }
  }
  .ui.menu > .container {
    display: block;
  }
}

.button.ui.secondary.button-header {
  color: #0f2046;
  border: 1px solid #0f2046;
  min-width: 100px;
  border-radius: 60px;

  transform: translate(50%, -50%);
  &:focus {
    color: #0f2046;
    background-color: transparent;
  }
  &:hover {
    color: white;
    background-color: #0f2046;
    text-decoration: none;
  }

  &.global {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #000000;

    &:focus {
      color: #000000 !important;
      background-color: white !important;
    }
    &:hover {
      color: #000000 !important;
      // border: transparent;
      background-color: white !important;
    }

    &.white-button {
      color: black;
      border: 1px solid #ffffff;
      background-color: white;

      &:focus {
        color: #000000 !important;
        background-color: white !important;
      }
      &:hover {
        color: white !important;
        border: 1px solid white !important;
        background-color: #000000 !important;
      }
    }
  }
}

.button.ui.secondary.mobile-button-header {
  color: #0f2046;
  border: 1px solid #0f2046;
  border-radius: 60px;
  margin-right: 20px !important;

  &:focus {
    color: #0f2046;
    background-color: transparent;
  }
  &:hover {
    color: white;
    background-color: #FDC437;
    text-decoration: none;
  }

  &.global {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #000000;

    &:focus {
      color: #000000 !important;
      background-color: white !important;
    }
    &:hover {
      color: #000000 !important;
      background-color: white !important;
    }
    &.white-button {
      color: black;
      border: 1px solid #ffffff;
      background-color: white;

      &:focus {
        color: #000000 !important;
        background-color: white !important;
      }
      &:hover {
        color: white !important;
        border: 1px solid white !important;
        background-color: #000000 !important;
      }
    }
  }
}

.mobile-header {
  &.global {
    background-color: #000000;
    padding-top: 2rem !important;

    .global-challenge-logo {
      max-width: 500px;
    }
    padding-top: 2rem;
  }
  padding-top: 1rem;

  .mobile-logo {
    &.global {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mobile-container.ui.container {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    border: none !important;
    background-color: transparent !important;

    .hamburger-icon {
      font-size: 20px;
      color: #0f2046;
      margin: 0px 0px !important;

      &.global {
        color: white;
      }
    }
  }

  img {
    width: 500px;
    max-width: 100vw;
    padding: 0rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
