@import "../../styles/variables.scss";

.team-registration {
  &.global{
    .header {
      color:white;
    }
    .registration-form-container{
      .ui.form {
        .team-message {
          color:white !important;
        }
      }
      .ui.input>input {
        background: #808080 !important;
        color: white !important;
      }
      ::placeholder { 
        color: #cccccc !important;
        opacity: 1;
      }
      .ui.dropdown {
        background: #808080 !important;
        color: white !important;
        .default{ 
          color: #cccccc !important;
          opacity: 1;
        }
      }
      .team-registration-light {
        color: #ffffff !important;
        border: 1px solid #ffffff !important;
        background-color: #000000;
  
        &:focus {
          color: #000000 !important;
          background-color: white !important;
        }
        &:hover {
          color: #000000 !important;
          background-color: white !important;
        }
      }
      .team-registration {
        color: #ffffff !important;
        background-color: #FDC437 !important;
  
        &:focus {
          color: #FDC437 !important;
          background-color: white !important;
        }
        &:hover {
          color: #FDC437 !important;
          background-color: white !important;
        }
      }
    }
  }

  .segment {
    @media screen and (min-width: 1000px) {
      padding-top: 70px !important;
    }
  }

  .banner {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header {
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase !important;

    &.select-team {
      @media screen and (min-width: 1000px) {
        text-align: center !important;
      }
    }
  }

  .progress-button {
    &:hover {
      text-decoration: none !important;
    }
  }

  .spacer-column {
    @media screen and (max-width: 1000px) {
      display: none !important;
    }
  }

  .registration {
    a {
      margin-top: 2rem;
    }
    div {
      margin-bottom: 2rem;

      .item {
        margin-bottom: 0rem;
      }
    }

    ::placeholder {
      color: #000000 !important;
      font-size: 16px;
      opacity: 1 !important;
    }

    .default {
      color: #000000 !important;
      font-family: Lato !important;
    }

    .dropdown.icon {
      background-color: #333030;
      border-radius: 50%;
      padding: 4px 7px !important;
      color: white;
    }
    .dropdown {
      .dropdown.icon {
        top: 50% !important;
      }
    }
    .dropdown-team-list {
      div.visible.menu.transition {
        margin-top: -70px;
      }
      .dropdown.icon {
        top: 15% !important;
      }
    }
  }

  a {
    color: #00b3bc;

    &:hover {
      color: #00b3bc;
      text-decoration: underline;
    }
  }
}
