@import '../../styles/variables.scss';

.team-registration {

  .segment {
    @media screen and (min-width: 1000px) {
      padding-top: 70px !important;
    }
  }

  .banner {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
    
  .header {
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase !important;

    &.select-team {
      @media screen and (min-width: 1000px) {
        text-align: center !important;
      }
    }
  }

  .progress-button {
    &:hover {
      text-decoration: none !important;
    }
  }

  .spacer-column {
    @media screen and (max-width: 1000px) {
      display: none !important;
    }
  }

  .registration {
    a {
      margin-top: 2rem;
    }
    div {
      margin-bottom: 2rem;

      .item {
        margin-bottom: 0rem;
      }

    }

    ::placeholder {
      color: #000000 !important;
      font-size: 16px;
      opacity: 1 !important;
    }

    .default {
      color: #000000 !important;
      font-family: Lato !important;
    }
  }

  a {
    color: #00b3bc;

    &:hover {
      color: #00b3bc;
      text-decoration: underline;
    }
  }
}