@import './variables.scss';
@import './global-styles.scss';


body {
  .button {
    &.ui {
      &.primary {
        color: $text-primary !important;
        background-color: $button-primary;
      }
  
      &.secondary {
        color: $text-tertiary;
        background-color: $button-primary;
        border: 1px solid $button-secondary;

        &:hover {
          border: none;
          color: $text-secondary;
          background-color: $button-secondary-hover;
        }
      }
    }
  }
}
