@import './variables.scss';
@import './global-styles.scss';


body {
  .segment {
    &.ui {
      &.primary {
        box-shadow: none;
        border-top: 1px solid #d9d9d9;
        border-bottom: none;
        border-right: none;
        border-left: none;
      }

      &.secondary {
        padding: 0;
        box-shadow: none;
        border: none;
        background: #fff;
      }
    }
  }
  .button {
    &.ui {
      &.primary {
        color: $text-primary !important;
        background-color: $button-primary;
      }
  
      &.secondary {
        color: $text-tertiary;
        background-color: $button-primary;
        border: 1px solid $button-secondary;

        &:hover {
          border: none;
          color: $text-secondary;
          background-color: $button-secondary-hover;
        }
      }
    }
  }
}
