$text-primary: #000;
$text-secondary: #fff;
$text-tertiary: #00b3bc;

$button-primary: #fff;
$button-secondary: #00b3bc;
$button-secondary-hover: #00b3bc;


/****************************************
    BREAKPOINT WIDTHS
****************************************/
$tablet-width: 768px;
$desktop-width: 960px;
$large-width: 1280px;
