$text-primary: #000;
$text-secondary: #fff;
$text-tertiary: #feb000;

$button-primary: #fff;
$button-secondary: #feb000;
$button-secondary-hover: #fe8500;


/****************************************
    BREAKPOINT WIDTHS
****************************************/
$tablet-width: 768px;
$desktop-width: 960px;
$large-width: 1280px;
