@import "../../styles/variables.scss";

.homepage {
  .banner {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header {
    font-size: 1.5rem !important;
    text-transform: uppercase !important;
  }
  .registration {
    .donate {
      border-radius: 30px !important;
      padding: 15px !important;
      color: black !important;
      border: 1px solid black !important;
    }
    a {
      margin-top: 2rem;
    }
    div {
      margin-bottom: 2rem;
    }
  }

  a {
    color: #00b3bc;

    &:hover {
      color: #00b3bc;
      text-decoration: underline;
    }
  }
}
