@import "../../styles/variables.scss";

.homepage {
  .banner {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header {
    font-size: 1.5rem !important;
    text-transform: uppercase !important;
  }
  .registration {
    .button.ui.secondary.donate {
      border-radius: 30px !important;
      padding: 15px !important;
      color: white !important;
      border: 1px solid white;
      background-color: black !important;
      &:focus {
        color: #0f2046;
        background-color: white !important;
      }
      &:hover {
        color: black !important;
        background-color: white !important;
      }
    }
    a {
      margin-top: 2rem;
    }
  }

  a {
    color: #fdc437;

    &:hover {
      color: #fdc437;
      text-decoration: underline;
    }
  }
  &.global {
    color: white
  }
}
