@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.dashboard {
  margin: 0px;
  .sign-wrapper {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.5em;
    vertical-align: middle;
    overflow: hidden;

    .sign-content-container {
      .counter {
        align-self: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;

        .logo-container {
          margin-bottom: 20px;
        }
      }

      .tagline {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  .challenge-description {
    font-size: 1.125rem;
    line-height: 2rem;
    position: relative;
    margin: 2rem 0;

    .highlight {
      font-size: 2rem;
      font-weight: 800;
      color: #000000;
    }
  }

  .map-container {
    padding-top: 2rem;
  }

  .search-container {
    margin-bottom: 1rem;

    .search {
      .input {
        width: 100%;
      }
    }
  }

  .content-container {
    height: 370px;
    padding: 2rem;
    .container-header {
      text-align: center;
    }
  }

  .ui.header {
    padding-top: 1rem;
    font-weight: 400;
  }

  .ui.celled.table {
    padding-left: 16px;
  }
  .ui.celled.table tr td {
    border: none;
    padding-left:0;
    padding-top:0;
  }
 
  .content-container-dashboard {
    height: 370px;
    width: 290px;
    .container-header {
      color: #11a9b2;
    }
  }

  .content-container-leaderboard {
    height: 500px;
    border-bottom: 1px solid #d9d9d9;
    .container-header {
      text-align: center;
    }
  }
  .content-container-search {
    height: 300px;
    border-bottom: 1px solid #d9d9d9;
    .container-header {
      text-align: center;
      padding-top: 2rem;
    }
  }

  @include only-mobile {
    .sign-wrapper {
      .sign-content-container {
        .counter {
          flex-direction: column;
        }
      }
    }
  }
}

.sign-container {
  position: relative;
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 680px;
}
.avatar {
  margin-left: 5px;
}
