.list {
  &.scrolling {
    height: 290px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.leaderboard {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &.sports {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  .ui.very.basic.table {
    width: 100%;
    padding-left: 16px;
    &.main {
      padding-right: 10px;
      border-spacing: 0px 5px;
    }
  }
  .ui.table th {
    border: none;
    color: #717171;
    font-weight: 400;
    padding-left: 0;
  }
  .ui.table tr td {
    border: none;
    padding-left: 0;
    padding-bottom: 0rem;
    &.main {
      padding-bottom: 10px;
      padding-top: 10px;
      background: #f4f4f4;
      &.position {
        border-radius: 8px 0 0 8px;
        text-align: center;
      }
      &.date {
        border-radius: 0 8px 8px 0;
        text-align: center;
      }
    }
  }
  .avatar {
    margin-left: 5px;
  }
  .team-name {
    color: rgb(250, 69, 27);
  }
  .distance,
  .finish.date {
    color: #1a1a1a;
  }
  .pending.date {
    color: #717171;
  }
}

