.list {
  &.scrolling {
    height: 290px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.leaderboard {
  width: 100%;
  overflow-x: hidden;

  &.sports {
    overflow-y: scroll;

    .avatar {
      margin-left: 5px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ui.very.basic.table {
    width: 100%;
    padding-left: 16px;

    thead tr:first-child > th {
      position: sticky !important;
      top: 0;
    }

    th {
      border: none;
      color: #717171;
      font-weight: 400;
      padding-left: 0;
    }

    tr td {
      border: none;
      padding-left: 0;
      padding-bottom: 0rem;
    }

    tbody.main-table {
      cursor: pointer;
      .finish {
        td {
          background: #dbfaec;
        }
      }
      :hover {
        td {
          background: #d9d9d9;
        }
      }
      &.loading {
        td {
          background: linear-gradient(90deg, #d9d9d9, #ffffff);
          background-size: 200% 200%;
          animation: Animation 1s ease infinite;

          @keyframes Animation {
            50% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 50% 100%;
            }
          }
        }
      }
    }

    .team-name {
      color: #fa451b;
      &.team {
        color: #11a9b2;
      }
    }

    .distance,
    .finish.date {
      color: #1a1a1a;
    }

    .pending.date {
      color: #717171;
    }

    &.main {
      text-align: center;
      padding-left: 0px;
      border-spacing: 0px 5px;
      thead > tr {
        padding-right: 5px;
        :first-child {
          width: 50px;
        }
        :nth-child(2) {
          width: 60px;
        }
        :nth-child(3) {
          text-align: left;
          width: 210px;
        }
        :nth-child(4) {
          width: 80px;
        }
        :nth-child(5) {
          width: 120px;
        }
      }

      tbody {
        display: block;
        height: 526px;
        overflow: auto;
      }

      thead,
      tbody tr {
        border: none;
        display: table;
        width: 100%;
        table-layout: fixed;
        padding-right: 5px;
      }

      tr td {
        padding: 10px 0 10px 0;
        background: #f4f4f4;

        &.loading {
          height: 52px;
          border-radius: 8px;
        }
        &.position {
          border-radius: 8px 0 0 8px;
          width: 50px;
        }
        &.avatar {
          width: 60px;
        }
        &.team-name {
          text-align: left;
          width: 210px;
        }
        &.distance {
          width: 80px;
          &.team-view {
            border-radius: 0 8px 8px 0;
          }
        }
        &.date {
          border-radius: 0 8px 8px 0;
          width: 120px;
        }
      }
    }
  }
}
*:focus {
  outline: none;
}
