@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

div.row {
  display: block !important;
}
.segment-padding {
  padding-bottom: 20px !important;
}

.dashboard {
  background-color: black; 
  margin: 0px;
  .ui.segment.secondary {
    background-color: black; // global
    // background-color: #0F2046 !important
  }
  .sign-wrapper {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.5em;
    vertical-align: middle;
    overflow: hidden;

    .sign-content-container {
      .counter {
        align-self: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;

        .logo-container {
          margin-bottom: 20px;
        }
      }

      .tagline {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  .heading {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .counter-uk {
    margin: 22px 0 22px 0;
    font-size: 24px;

    .wrapper {
      width: 0;
      margin: auto;
      overflow: hidden;
      white-space: nowrap;
      letter-spacing: 0.1em;
      animation-name: typing;
      animation-duration: 3s;
      animation-timing-function: steps(60, end);
      animation-fill-mode: forwards;

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }

    .text {
      color: white;
      // color: #1a1a1a; global
    }
    .total {
      color: #11a9b2;
    }
  }

  .back-link {
    //color: #fdc437 !important; global
    color: #ff6a4d;
    font-weight: bold;
    font-size: 14px;
  }

  .team-distance {
    font-weight: bold;
    padding-bottom: 22px;
  }

  .challenge-description {
    font-size: 1.125rem;
    line-height: 2rem;
    position: relative;
    margin: 2rem 0;

    .highlight {
      font-size: 2rem;
      font-weight: 800;
      //color: #000000;
      color: white;
    }
  }

  .map-container {
    padding-top: 2rem;
  }

  .search-container {
    margin-bottom: 1rem;
    margin-top: 1rem;

    &.global{
      .ui.input>input {
        background: white !important;
        border: 1px solid #005F65 !important;
      }
      ::placeholder { 
        opacity: 1;
      }
    }

    .search {
      .input {
        width: 80%;
        font-size: 18px;
        float:left;
        @media (max-width: 1024px) {
          width:73%;
        }
      }
      .prompt {
        border-radius: 1rem;
      }
    }
    .button {
      margin-left: 5px;
      height: 48px;
      border-radius: 1rem;
      min-width: 18%;

      @media (max-width: 810px) {
        margin-top: 1px;
        height: 46px;
      }
    }
  }

  .content-container {
    height: 370px;
    padding: 2rem;
    .container-header {
      text-align: center;
    }
  }

  .content-container-dashboard {
    width: 450px;
    .container-header {
      color: #00aabb !important;
    }
  }

  .content-container-search {
    height: 140px;
    .container-header {
      text-align: center;
      padding-top: 2rem;
    }
  }
  .ui.search > .results {
    display: none !important;
  }

  @include only-mobile {
    .sign-wrapper {
      .sign-content-container {
        .counter {
          flex-direction: column;
        }
      }
    }
  }
}

.sign-container {
  position: relative;
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 680px;
}

.global-header {
  padding-top: 2rem !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}
