.how-to-container {
  background-color: #0F2046;

  .column-a {
    height: 500px;
    width: 38% !important;
  }
  .column-b {
    width: 800px;
    width: 52% !important;
  }
  .column-c {
    width: 350px !important;
  }

  .how-to-section {
    color: white;

    .list>a.item {
      margin: 10px 0;
    }

    .list>a.item:before {
      color: #FA451B !important;
      font-size: 30px;
    }

    .how-to-title {
      padding-top: 40px ;
      padding-bottom: 20px ;
      color: white;
      font-size: 24px;
      &.smaller {
        font-size: 20px;
        padding-bottom: 10px;
      }
    }

    .step-text {

      img {
        max-width: 250px;
      }

      a {
        color: #FA451B !important;
      }
    }

    a {
      color: white !important;
    }

  }

}